form.input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}
wa-input {
  width: 40%;
}

.todo-list {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  flex-wrap: wrap;
}

@media (max-width: 800px) {
  wa-input {
    width: 80%;
  }
  .todos {
    width: 95%;
  }
}
