.overlay-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 0;
}

.overlay-wrapper:focus-within::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  z-index: 10;
}
form.input,
wa-input {
  width: 60%;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 20;
}

.todo-list {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  flex-wrap: wrap;
}
.todos_single {
  display: flex;
  width: 100%;
  margin: 10px;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
  background-color: yellowgreen;
  align-items: center;
}
.todos_single_text {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
}
.todos_single_text:focus {
  outline: none;
}
.colored-box {
  background-color: yellowgreen;
}

.icon {
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 800px) {
  form.input {
    width: 100%;
  }
  wa-input {
    width: 80%;
  }

  .todos_single {
    width: 100%;
  }
  .todos {
    width: 95%;
  }
}
