.input {
  width: 100%;
  position: relative;
  align-items: center;
  z-index: 2;
}
form > * + * {
  display: block;
  --display: block;
  width: fit-content;
  margin-block-start: var(--wa-space-m);
}
.overlay-wrapper:focus-within::before {
  content: "";
  position: fixed;
  inset: 0; /* full screen */
  background: rgba(0, 0, 0, 0.4); /* dim effect */
  backdrop-filter: blur(4px);
  z-index: 1;
}
.todo-list {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  flex-wrap: wrap;
}
.todos_single {
  display: flex;
  width: 30%;
  margin: 10px;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
  background-color: yellowgreen;
  align-items: center;
}
.todos_single_text {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
}
.todos_single_text:focus {
  outline: none;
}

.icon {
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media (maz-width: 1200px) {
  .todos_single {
    width: 40%;
  }
}
@media (max-width: 800px) {
  .input {
    width: 95%;
  }
  .todos_single {
    width: 100%;
  }
  .todos {
    width: 95%;
  }
}
