@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

/* .App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f74c0;
  font-family: "Neucha", cursive;
} */

.App {
  background-color: #2f74c0;
  font-family: "Neucha", cursive;
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

@media (max-width: 800px) {
  .heading {
    margin: 15px 0;
    font-size: 35px;
  }
}
